<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Giriş</title>
    <link rel="stylesheet" href="login.css">
</head>

<body>
    <div style="text-align: center; padding: 27px;">
        <h2 class="subtitle is-2"
            style="color: white; font-weight:bold; 	font-family: Copperplate,Copperplate Gothic Light,fantasy;font-size: 45px;">
            MedipoLive
        </h2>
    </div>
    <div class="container">
        <div class="field">
            <div class="control">
            </div>
        </div>
        <form action="/giris" method="POST">
            <% if (hata) { %>
            <label id="hataStyle"><i class="fas fa-exclamation-circle"></i><%=hata%></label>
            <% } %>

            <div class="field" tabindex="2">

                <label for="username">

                    <i class="fas fa-user"></i>Kullanıcı Adı
                </label>
                <input name="ad" type="text" id="username" placeholder="kullanıcı adı">
            </div>

            <div class="field" tabindex="2">
                <label for="sifre">
                    <i class="fas fa-key"></i>Şifre
                </label>
                <input name="sifre" type="password" id="password" placeholder="*********">
            </div>
            <div class="field">
                <div class="control">
                    <input type="checkbox" onclick=BeniHatirla() class="checkBoxstyle">

                    <a>Beni Hatırla</a><a class="dekorasyon" href="/sifre">Şifremi Unuttum</a><br>

                    <button type="submit" class="button">Giriş Yap</button> <button onclick="location.href='/UyeOl'"
                        type="button" class="dekorasyon1">Üye Ol</button>




                </div>
            </div>

        </form>
    </div>
    <script>
        function BeniHatirla() {

            localStorage.setItem('username', document.getElementById("username").value)
            localStorage.setItem('password', document.getElementById("password").value)
            document.getElementById("checkbox").checked

        }
        document.getElementById("username").value = localStorage.getItem('username')
        document.getElementById("password").value = localStorage.getItem('password')



    </script>
    <footer>

        Copyright © 2019 Tüm Hakları Saklıdır. İletişim <i>mpchat.medipol@gmail.com</i>

    </footer>
</body>

</html>
