<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <title>Document</title>
    <style>
        #footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            color: white;
            text-align: center;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        .sidenav a:hover {
            color: #f1f1f1;
        }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        #main {
            transition: margin-left .5s;
            padding: 16px;
        }

        @media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }

            .sidenav a {
                font-size: 18px;
            }
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="column">
            <div class="columns is-centered">
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="#">About</a>
                    <a href="#">Services</a>
                    <a href="#">Clients</a>
                    <a href="#">Contact</a>
                </div>
                <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>

            </div>
            <div class="modal-card">
                <section class="modal-card-body">
                    Hello World
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices eleifend
                    gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce
                    erat
                    odio, sollicitudin vel erat vel, interdum mattis neque.

                    Second level
                    Curabitur accumsan turpis pharetra augue tincidunt blandit. Quisque condimentum maximus mi, sit amet
                    commodo arcu rutrum id. Proin pretium urna vel cursus venenatis. Suspendisse potenti. Etiam mattis
                    sem
                    rhoncus lacus dapibus facilisis. Donec at dignissim dui. Ut et neque nisl.

                    In fermentum leo eu lectus mollis, quis dictum mi aliquet.
                    Morbi eu nulla lobortis, lobortis est in, fringilla felis.
                    Aliquam nec felis in sapien venenatis viverra fermentum nec lectus.
                    Ut non enim metus.
                    Third level
                    Quisque ante lacus, malesuada ac auctor vitae, congue non ante. Phasellus lacus ex, semper ac tortor
                    nec, fringilla condimentum orci. Fusce eu rutrum tellus.

                    Donec blandit a lorem id convallis.
                    Cras gravida arcu at diam gravida gravida.
                    Integer in volutpat libero.
                    Donec a diam tellus.
                    Aenean nec tortor orci.
                    Quisque aliquam cursus urna, non bibendum massa viverra eget.
                    Vivamus maximus ultricies pulvinar.
                    Ut venenatis, nisl scelerisque sollicitudin fermentum, quam libero hendrerit ipsum, ut blandit est
                    tellus sit amet turpis.
                    Quisque at semper enim, eu hendrerit odio. Etiam auctor nisl et justo sodales elementum. Maecenas
                    ultrices lacus quis neque consectetur, et lobortis nisi molestie.

                    Sed sagittis enim ac tortor maximus rutrum. Nulla facilisi. Donec mattis vulputate risus in luctus.
                    Maecenas vestibulum interdum commodo.

                    Suspendisse egestas sapien non felis placerat elementum. Morbi tortor nisl, suscipit sed mi sit
                    amet,
                    mollis malesuada nulla. Nulla facilisi. Nullam ac erat ante.

                    Fourth level
                    Nulla efficitur eleifend nisi, sit amet bibendum sapien fringilla ac. Mauris euismod metus a tellus
                    laoreet, at elementum ex efficitur.

                    Maecenas eleifend sollicitudin dui, faucibus sollicitudin augue cursus non. Ut finibus eleifend arcu
                    ut
                    vehicula. Mauris eu est maximus est porta condimentum in eu justo. Nulla id iaculis sapien.

                    Phasellus porttitor enim id metus volutpat ultricies. Ut nisi nunc, blandit sed dapibus at,
                    vestibulum
                    in felis. Etiam iaculis lorem ac nibh bibendum rhoncus. Nam interdum efficitur ligula sit amet
                    ullamcorper. Etiam tristique, leo vitae porta faucibus, mi lacus laoreet metus, at cursus leo est
                    vel
                    tellus. Sed ac posuere est. Nunc ultricies nunc neque, vitae ultricies ex sodales quis. Aliquam eu
                    nibh
                    in libero accumsan pulvinar. Nullam nec nisl placerat, pretium metus vel, euismod ipsum. Proin
                    tempor
                    cursus nisl vel condimentum. Nam pharetra varius metus non pellentesque.

                    Fifth level
                    Aliquam sagittis rhoncus vulputate. Cras non luctus sem, sed tincidunt ligula. Vestibulum at nunc
                    elit.
                    Praesent aliquet ligula mi, in luctus elit volutpat porta. Phasellus molestie diam vel nisi sodales,
                    a
                    eleifend augue laoreet. Sed nec eleifend justo. Nam et sollicitudin odio.

                    Sixth level
                    Cras in nibh lacinia, venenatis nisi et, auctor urna. Donec pulvinar lacus sed diam dignissim, ut
                    eleifend eros accumsan. Phasellus non tortor eros. Ut sed rutrum lacus. Etiam purus nunc,
                    scelerisque
                    quis enim vitae, malesuada ultrices turpis. Nunc vitae maximus purus, nec consectetur dui.
                    Suspendisse
                    euismod, elit vel rutrum commodo, ipsum tortor maximus dui, sed varius sapien odio vitae est. Etiam
                    at
                    cursus metus.
                </section>

            </div>


            <div id="footer">
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <input class="input is-info" type="text" placeholder="Mesajınızı buraya yazınız..">
                    </div>
                    <div class="control">
                        <a class="button is-info">
                            Send
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
                document.getElementById("main").style.marginLeft = "250px";
                document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
                document.getElementById("main").style.marginLeft = "0";
                document.body.style.backgroundColor = "white";
            }
        </script>
</body>

</html>