<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" href="oneriHesap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body>

    <div id="ana">


        <nav class="navbar is-fixed-top" role="navigation" aria-label="dropdown navigation">
            <span style="font-size:25px;cursor:pointer;float:left; " onclick="openNav()">&#9776;MedipoLive <sub>Öneri ve
                    Görüşler</sub> </span>

            <div id="nick" style="display:none"></div>
        </nav>

        <div class="columns level-left">

            <div id="mySidenav" class="sidenav">

                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a class="subtitle is-3" style="color:#818181; font-size: 2rem;">Oda Seçimi</a>
                <a href="/genel" id="genel">Genel</a>
                <a href="/kuzey" id="kuzey">Kuzey</a>
                <a href="/guney" id="guney">Güney</a>
                <a href="/halic" id="halic">Haliç</a>
                <a href="/onlineList" style="float: right;font-size: 1.35rem;" class="subtitle is-5">Aktif : <span
                        id="onlineUser"></span></a><br>
                <a href="/hesap">Hesap Bilgilerim</a>
                <% kullanici.forEach(function(user){ %>
                <a name="/hesap/<%= user.Id %>" onclick="onay(this.name)"
                    style="color:#818181; cursor: pointer;">Hesabımı Sil</a>
                <% }); %>
                <a href="/oneri">Öneride Bulun</a>
                <a href="/" id="Cikis">Çıkış</a>

            </div>

        </div>
        <div class="container">

            <form action="/oneri" method="POST">
                <div class="basliks">Önerileriniz</div>
                <div class="icerik" style="margin-top: 20px; " id="icerik">
                    
                    <% if (hata) { %>

                    <label id="basari" class="label has-text-success" style="margin-top:5px"><%=hata%></label>
                    <% } %>
                    <div class="field">
                        <div class="control">
                            <div class="field" tabindex="2">

                                <label for="Email">

                                    <i class="fab fa-korvue"></i>Konu
                                </label>
                                <input id="username" name="konu" type="text">
                            </div>
                            <label class="label" style="margin:5px 0px 5px 0px;"><i
                                    class="fas fa-envelope-open-text"></i></i>İletiniz</label>
                            <div class="field">
                                <div class="control">

                                    <textarea class="textarea is-info" placeholder="Buraya yazabilirsiniz..."
                                        style="resize: none;" name="oneri"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="control">
                        <button type="submit" class="button is-link">Gönder</button> <button
                            onclick="location.href='/genel'" type="button" class="dekorasyon1">İptal</button>
                    </div>
                </div>



            </form>
        </div>
    </div>


    </div>

    <div class="modal" id="modalim">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Onay</h5>

                </div>
                <div class="modal-body">
                    <p>Geri dönüşü olmamak üzere hesabınızı silme işlemini onaylıyor musunuz ?</p>
                </div>
                <div class="modal-footer">
                    <a id="onayButton" class="btn btn-primary btn-md" style="cursor: pointer;color:white;">Onayla</a>

                    <a id="vazgec" class="btn btn-secondary btn-md" style="cursor: pointer;color:white;">İptal</a> </div>
            </div>
        </div>

        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>
    <script src="oneri.js"></script>
    <script>
        document.getElementById('nick').innerHTML = localStorage.getItem('Ad')
    </script>
</body>

</html>