<!DOCTYPE html>
<html lang="en" style="overflow: auto">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <title>Oneriler</title>
</head>

<body>

    <div id="ana">


        <nav class="navbar is-fixed-top" role="navigation" aria-label="dropdown navigation">
            <span style="font-size:25px;cursor:pointer;float:left" onclick="openNav()">&#9776;</span>
            <a class="subtitle is-4">MpChat</a>
            <div id="nick" style="display:none"></div>
        </nav>

        <div class="columns level-left">

            <div id="mySidenav" class="sidenav">

                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a class="subtitle is-3">Admin Paneli</a>
                <a href="/admin" id="genel">Üye Listesi</a>
                <a href="/AdminSikayetler">Şikayetler</a>
                <a href="/AdminOneriler">Öneriler</a>
                <a href="/adminhesap">Hesap Bilgilerim</a>
                <% kullanici.forEach(function(user){ %>
                <a name="/adminhesap/<%= user.Id %>" onclick="onay(this.name)">Hesabımı Sil</a>
                <% }); %>

                <a href="/" id="Cikis">Çıkış</a>
                <a href="/onlineListAdmin" style="float: right;" class="subtitle is-5">Aktif : <span id="onlineUser"></span></a><br>

            </div>


        </div>


        <div class="container box" style="margin-top:6%; border-radius: 0px; padding: 2%">
            <h3 class="subtitle is-3" style="margin-top:42px">Online Kullanıcılar</h3>
            <% onlinelist.forEach(function(onlinelist){ %>

            <div class="list is-hoverable">

                <a class="list-item">

                    <label class="label">Kullanıcı Adı </label>
                    <input class="input" readonly="" id="username" name="kullanici" type="text"
                        value="  <%= onlinelist.nick %>">
                    <label class="label">Mesaj Sayısı</label>
                    <input class="input" readonly="" id="username" name="konu" type="text"
                        value=" <%= onlinelist.mesajSayisi  %>">
                    <form action="/AdminOneriler" method="POST">
                        <input class="input" id="username" name="no" type="text" value="<%= onlinelist.Id  %>"
                            style="display:none">




                    </form>


                </a>

            </div>
            <% }); %>
        </div>



    </div>


    </div>

    <div class="modal" id="modalim">
        <div class="modal-background"></div>
        <div class="uyari">
            <div class="card">
                <header class="card-header ">
                    <p class="card-header-title is-centered is-size-4	">
                        Onay
                    </p>
                    <a href="#" class="card-header-icon" aria-label="more options">
                        <span class="icon">
                        </span>
                    </a>
                </header>
                <div class="card-content">
                    <div class="content">
                        <p class="title is-5">Geri dönüşü olmamak üzere hesabınızı silme işlemini onaylıyor musunuz ?
                        </p>
                        <br>
                    </div>
                </div>
                <footer class="card-footer">
                    <a id="onayButton" class="card-footer-item">Onayla</a>

                    <a id="vazgec" class="card-footer-item">Vazgeç</a>
                </footer>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>
    <script src="oneri.js"></script>
    <script>
        document.getElementById('nick').innerHTML = localStorage.getItem('Ad')
    </script>
</body>

</html>