<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body>
    <form action="/sifre" method="POST">
        <div class="container box" style="padding:10px; margin-top:2%; padding: 3%;">

            <div class="columns is-gapless is-multiline is-mobile">
                <div class="column" style="margin-left:10px;margin-right:10px" id="HesapEkrani">
                    <h3 class="title is-3">1.Adım: Hesap Bilgileri</h3>
                    <label class="label">E posta</label>
                    <input class="input" id="username" name="Email" type="text">
                    <div class="field" style="margin:10px 0 10px 0">
                        <label class="label" name="GuvenlikSorusu">Güvenlik Sorusu</label>
                        <div class="control">
                            <div class="select">
                                <select name="soru">
                                    <option>
                                        En sevdiğiniz hayvan?
                                    </option>
                                    <option>
                                        En sevdiğiniz renk?
                                    </option>
                                    <option>
                                        En yakın arkadaşınızın adı nedir?
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <label class="label" name="Cevap">Cevap</label>
                    <input class="input" id="username" name="Cevaps" type="text">
                    <label class="label has-text-danger"><%=hata%></label>
                    <div class="field is-grouped" style="margin-top:25px">
                        <div class="control">
                            <input type="submit" value="Devam" class="button is-link">
                        </div>
                        <div class="control">
                            <a href="/" class="button is-light">İptal</a>
                        </div>
                    </div>
                </div>
                <!---------------------------->

            </div>


        </div>
    </form>
    <!--
    <script>


        function Devam() {




            setTimeout(function () { document.getElementById("SifreEkrani").style = "display:inline;margin-left:10px;margin-right:10px"; }, 200);
            
            setTimeout(function () { document.getElementById("HesapEkrani").style = "display:none;margin-left:10px;margin-right:10px"; }, 200);


        }

    </script>
    -->


</body>


</html>