<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Şifre Yenileme</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body>
    <div style="text-align: center; padding: 27px;">
        <h4 class="subtitle is-3"
            style="color: white; font-weight:bold; 	font-family: Copperplate,Copperplate Gothic Light,fantasy;font-size: 40px;">
            Şifre Yenileme
        </h4>
    </div>
    <div class="container">
        <div class="field">
            <div class="control">
            </div>
        </div>
        <form action="/sifre" method="POST">

            <% if (hata) { %>

            <label id="hata2" class="label has-text-danger"><%=hata%></label>
            <% } %>
            <% if (onay) { %>

            <label id="basari" class="label has-text-danger"><%=onay%></label>
            <% } %>

            <div class="field" tabindex="2">

                <label for="Email">

                    <i class="fas fa-user"></i>E-Mail
                </label>
                <input name="Email" type="email" id="username">
            </div>

            <div class="field">
                <label class="label"><i class="fas fa-question"></i>Güvenlik Sorusu</label>
                <div class="control">
                    <div class="select">
                        <select name="soru" class="mdb-select md-form">
                            <option value="" disabled selected>Lütfen Soru Seçiniz</option>
                            <option value="1"> En sevdiğiniz hayvan?</option>
                            <option value="2">En sevdiğiniz renk?</option>
                            <option value="3">En yakın arkadaşınızın adı nedir?</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field" tabindex="2">

                <label for="answer">

                    <i class="fas fa-key"></i>Cevap
                </label>
                <input name="Cevaps" type="text" id="username">
            </div>
            <div class="field is-grouped" style="margin-top:25px">
                <div class="control">
                    <button type="submit" value="Devam" class="button is-link">Devam</button> <button
                        onclick="location.href='/'" type="button" class="dekorasyon1">İptal</button>
                </div>

            </div>
    </div>
    <!---------------------------->



    </form>
    </div>
    <!--
    <script>


        function Devam() {




            setTimeout(function () { document.getElementById("SifreEkrani").style = "display:inline;margin-left:10px;margin-right:10px"; }, 200);
            
            setTimeout(function () { document.getElementById("HesapEkrani").style = "display:none;margin-left:10px;margin-right:10px"; }, 200);


        }

    </script>
    -->


</body>


</html>