<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body>        
    <div class="container" >
        <div class="field">
                <div class="control">
                </div>
            </div>

    <form action="/sifreUpdate" method="POST">


                    <h3 class="title is-3">2.Adım: Yeni Şifre</h3>
                    <% if (hata) { %>

                    
                    <label id="hata2" class="label has-text-danger"><%=hata%></label>
                    <% } %>
                        <div class="field" tabindex="2">
                            <label for="Email">
                                <i class="fas fa-envelope"></i>E-Mail
                            </label>
                            <input readonly="" value="<%=Email%>" name="Email" type="text" id="username" >
                    </div>                    
                    <div class="field" tabindex="2">
                            <label for="answer">
                                <i class="fas fa-pen"></i>Cevap
                            </label>
                            <input name="Cevaps"  readonly="" value="<%=Cevap%>" type="text" id="username" >
                        </div>
                        <div class="field" tabindex="2">
                                <label for="password">
                                    <i class="fas fa-key"></i>Yeni Şifre
                                </label>
                                <input id="username" name="password1" type="password">
                            </div>                    
                            <div class="field" tabindex="2">
                                    <label for="password">
                                        <i class="fas fa-key"></i>Yeni Şifre Tekrar
                                    </label>
                                    <input id="username" name="password2" type="password">
                                </div>                    
                    <button type="submit" class="button is-link" style="margin-top:15px">Kaydet</button>
                    <input class="input" name="soru" readonly="" value="<%=soru%>" style="display:none" type="text">
                


    </form>
        </div>


</body>


</html>