<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <title>Üye Ol</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body>
    <div class="container box" style="padding:10px; margin-top:2%; padding: 3%;">
        <div class="field">
            <div class="control">
            </div>
        </div>
        <form action="/UyeOl" method="POST">
            <div class="field">
                <label class="label">Kullanıcı Adı</label>
                <div class="control has-icons-left">
                    <input class="input" id="username" name="KullaniciAd" type="text" placeholder="Ayşee34..">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="label">Şifre</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" name="Sifre" id="password" type="password">

                    <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                    </span>

                </div>
            </div>
            <div class="field">
                <label class="label">Şifre Tekrar</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" name="Sifre2" id="password2" type="password">

                    <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                    </span>

                </div>
            </div>

            <div class="field">
                <label class="label">E-mail</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" id="Eposta" name="Eposta" type="email" placeholder="kavi@gmail.com">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-exclamation-triangle"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label class="label">Güvenlik Sorusu</label>
                <div class="control">
                    <div class="select">
                        <select name="Soru">
                            <option>
                                En sevdiğiniz hayvan?
                            </option>
                            <option>
                                En sevdiğiniz renk?
                            </option>
                            <option>
                                En yakın arkadaşınızın adı nedir?
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Cevap</label>
                <div class="control">
                    <input class="input" id="cevap" name="Cevap" type="text" placeholder="Kedi..">
                </div>
            </div>
            <label id="hata2" class="label has-text-danger"><%=hata%></label>
            <label id="hata" class="label has-text-danger"></label>

            <div class="field is-grouped">
                <div class="control">
                    <button type="submit" class="button is-link">Kaydet</button>
                </div>
                <div class="control">
                    <a href="/" class="button is-light">İptal</a>
                </div>
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
        $("form").submit(function (event) {

            $('#hata2').text('');

            if ($.trim($('#username').val()) == "" || $('#username').val() == null || $('#username').val().length < 4) {
                $('#hata').text('Kullanıcı Adı en az 4 karakter olmalı');
                event.preventDefault();
            }
            if ($('#password').val() == null || $('#password').val().length < 4 || $('#password').val() != $('#password2').val()) {
                $('#hata').text('Şifreler birbiriyle aynı olmalı ve En az 4 karakter içermeli');
                event.preventDefault();
            }
            if ($.trim($('#cevap').val()) == "" || $('#cevap').val() == null || $('#cevap').val().length < 2) {
                $('#hata').text('Cevap En az 2 karakter içermeli');
                event.preventDefault();
            }
            if ($.trim($('#Eposta').val()) == "" || $('#Eposta').val() == null) {
                $('#hata').text('E-mail boş geçilemez');
                event.preventDefault();
            }


        });
    </script>
</body>

</html>